@font-face {
    font-family: 'raleway';
    src: url("./assets/fonts/Raleway-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'raleway';
    src: url("./assets/fonts/Raleway-Regular.ttf");
    font-weight: 400;
} 

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
} 

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'raleway';
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: black;
    line-height: 1.5;
    min-height: 100vh;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    background-color: rgb(31, 126, 156);

}
.main {
    margin-bottom: auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: aliceblue;
}
a:hover {
    color: aquamarine;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: rgba(65, 133, 136, 0.6) 0px 4px 8px;
}

.section-title {    
    color: rgb(27, 72, 91);
    letter-spacing: 5px;
    font-size: 18px;
    text-transform: uppercase;

}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    border-bottom: 2px solid rgb(12, 6, 88);
    margin-inline-end: auto;
}

.section-profile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 15px solid rgb(150, 186, 184);
    padding: 40px;
}

.contact-list :hover {
    color: rgb(31, 126, 156);
}
    
.footer {
    background-color: rgb(31, 126, 156);
    display: flex;
    color: aliceblue;
    padding: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
}

.section-languages {
    border-bottom: 0;
}

.name {
    font-family: 'raleway';
    font-weight: 500;
    letter-spacing: 10px;
    font-size: 25px;
}

.section-subtitle {
    font-size: 16px;
    font-family: 'raleway';
    font-weight: 300;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}
 
code {
    font-family: system-ui;
    font-size: 14px;
}

pre {
    margin-top: -20px; 
}