*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 20px;
	font-family: 'red hat text';
	font-weight: 500;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	width: 1440px;
	margin: 0 auto;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*---------- сброс стилей ------------------------------*/
.container {
    max-width: 1200px;
	padding: 0 15px;
    margin: 0 auto;
	box-sizing: content-box;
}						
.wrapper {
    min-height: 100%;
    overflow: hidden;
	display: flex;
	flex-direction: column;
	background: url(./assets/img/garrett-parker-DlkF4-dbCOU-unsplash1.jpg) no-repeat;
}

.ibg img{
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #0D606F;
    padding: 10px 30px;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px; 
    font-size: 16px;  
    transition: background-color: 0.3s ease 0s;
    position: relative;
	line-height:  1.3;
	font-size: 16px;
}
.button:hover {
	background: hsl(175, 17%, 44%);
}
.button:active {
	background: #265a7d;
}
/* ------------header---------------------------- */
.header {
	position: relative;
	width: 100%;
	left: 0;
	top:0;
	z-index: 50;
}
.header-container {
	display: flex;
	min-height: 90px;
	align-items: center;
	
}
.header-wrapper {
	background: rgba(242, 120, 92, 0.7);
	max-width: 1440px;
	max-height: 90px;
	box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);

}

.header-logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 158px 0 0;
}
.logo-image {
	margin-right: 6px;
}
.logo-text {
	font-family: Magra;
	font-size: 32px;
	font-weight: 600;
	color: white;
}
.header-menu {
	margin: 0 196px 0 0;
}
/* @media (max-width: 390px) {
	.header-menu {
		margin: 0 40px 0 60px;
	}
} */
.menu {
	padding: 5px 0;
}
.menu-list {
	display: flex;
	flex-wrap: wrap;
	gap: 42px;
}

	
.menu-link { 
	font-size: 16px;
	font-weight: 500;
	line-height: 1.3;
	color: rgba(255, 255, 255, 1);
}

 .menu-link:hover {
	color: #19776d;
 }

/* -------------------preview-------------------- */
.main {
	flex: 1 1 auto;
}

.preview-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.preview {
	position: relative;
}
.preview-body {
	padding: 122px 0 221px 0;
	position: relative;
    z-index: 2;
    max-width: 892px;
}

.preview-search {
	display: inline-flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    justify-content: space-between;
    width: 892px;
	min-height: 95px;
}

.preview-button:hover {
	transition: background-color: 0.3s ease 0s;
}

.preview-button {
	display: flex;
    justify-content: flex-end;
    font-size: 24px;
    min-height: 59px;
    margin: 0 18px;
}

.preview-title { 
	font-family: aleo;
	font-weight: 700;
	font-size: 80px;
	color: white;
	line-height: 1.2;

}
.preview-block-text {
	font-family: aleo;
	font-size: 20px;
	font-weight: 700;
	color: white;
	font-style: italic;
	line-height: 1.2;
	margin-top: 56px;
	margin-bottom: 46px;
}
.preview-search {
	display: inline-flex;
}
.preview-input {
	font-style: italic;
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    background: none;
    width: 560px;
    padding: 32px 45px 41px 41px;
}
::placeholder {
    color: rgba(242, 120, 92, 1);
}


/* ---------------------3steps--------------------------- */

.steps-container {
	margin-top: 80px;
}

.section-title {
	text-align: center;
	font-family: 'red hat text';
	font-weight: 500;
	font-size: 40px;
	line-height: 1.33;
	color: rgba(242, 120, 92, 1);
	text-transform: uppercase;
}
.steps-column {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}
.icon-item {
	text-align: center;
}
.icon-img {
	width: 100px;
	height: 100px;
	background: rgba(242, 120, 92, 1);
	border-radius: 16px;
	padding: 26px;
}
.steps-text {
	margin-top: 30px;
	font-style: 'aleo';
    font-size: 20px;
    font-weight: 400;
    color: rgba(13, 96, 111, 1);
}
/* --------------destinations-------------------- */

.destinations-container {
	align-items: center;
    margin: 0 auto; 
}

.slider-block {
	display: flex;
    align-items: center;
    justify-content: center;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.slider-item {
	width: 800px;
    height: 800px;
    margin: 46px 60px 24px;
    position: relative;
}
.slider-img {
	border-radius: 16px;
}
.slider-img-name {
	position: absolute;
    bottom:5%;
    left: 2%;
    font-family: 'red hat text';
    font-size: 32px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}
.pointer label { /*стиль отдельного переключателя*/
	border-radius: 10px; 
	display: inline-block; 
	width: 20px;
	height: 20px;
	background: rgba(242, 120, 92, 0.5);
    margin-right: 10px; 
}
.pointer { /*расположение блока с переключателями*/
	margin: 0 0 0;
	text-align: center;
}
label, a { 
	cursor: pointer;
}

.slider input{ /*скрывает стандартные инпуты на странице*/
	display: none;
}
.pointer label:hover { /*поведение чекбокса при наведении*/
	background: rgba(204, 119, 100, 0.5);
}
/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ .pointer label:nth-child(1),
#switch2:checked ~ .pointer label:nth-child(2),
#switch3:checked ~ .pointer label:nth-child(3) {
	background: #F2785C;
}

#switch1:checked ~  .slider-block {
	margin-left: 125%;   
}
#switch2:checked ~  .slider-block {
    margin-left: 0%;
}
#switch3:checked ~  .slider-block {
    margin-left: -155%;
}
.destinations-title {
	margin-top: 97px;
	line-height: 1.3;
}
.destinations-button {
	display: flex;
    justify-content: center
}
.arrow-button {
	align-items: center;
    
    justify-content: center;
    display: inline-block;

    padding: 10px 30px;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px; 
    font-size: 16px;  
    transition: background-color: 0.3s ease 0s;
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
}
.arrow-icon {
    display: inline-block;
	position: absolute;
	background-image: url(./assets/img/arrow_icon.svg); 
	width: 35px;
	height: 22px;
	margin-right: auto;
}
.button-text {
	display: inline-block;
margin-left: 51px;
}
/* ------------------stories--------------------- */
.stories-body {
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin-top: 40px;
	padding-top: 40px;
}

.stories-wrapper {
	background: rgba(255, 255, 255, 0.7);
}
.section-title {
}
.stories-item {
	display: flex;
}
.stories-item:not(:first-child) {
	margin: 30px 125px 0px 120px;
}
.stories-item:first-child {
	margin: 40px 125px 0px 120px;
}
.stories-img {
	display: block;
	max-width: 400px;   
    max-height: 250px;
	border-radius: 16px;
	filter: drop-shadow(0px 4px 4px #0D606F);
}

.article-title {
	font-family: aleo;
	font-weight: 400;
	font-size: 35px;
	color: rgba(13, 96, 111, 1);
}
.article-text {
	font-family: aleo;
	font-weight: 400;
	font-size: 20px;
	line-height: 1,2;
	letter-spacing: 1px;
	color: 
	rgba(13, 96, 111, 1);
	margin-top: 24px;
}
article {
	margin-left: 40px;
}
.stories-footer_wrapper {
	background-image: url('./assets/img/stories-footer-cover.jpg');
	background-repeat: no-repeat ;
	background-size: cover;
	max-width: 1440px;
}
.stories-button{
	display: flex;
    justify-content: center
}
.article-link {
	font-weight: 700;
	color: rgba(13, 96, 111, 1);
	text-decoration: underline;
}


/* --------------footer-------------------- */
.footer-text {
	font-size: 16px;
	color: 	rgba(255, 255, 255, 1);
	font-weight: 500;
	line-height: 1.32;
	
}
.footer{
	min-height: 61px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.footer-container	{
	display: flex;
	align-items: center;
}
.contact-list {
	display: flex;
	margin-left: 290px;	
	margin-right: 105px;
	align-items: center;
	gap:23px
}
.footer-icon {
	width: 30px;
	height: 30px;
}

.rss-icon {
	width: 70px;
	height: 45px;
}
.contact-link:not(:last-child) {
	margin-right: 23px;
}